@model register.ViewModels.LoginViewModel

<form class="mt-5 col"  method="post" asp-action="Login" asp-controller="Account">
    <input hidden="true" asp-for="@Model.ReturnUrl">
    <div class="form-label-group">
        <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label class="text-muted" asp-for="Email" for="inputEmail"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

     <div class="form-label-group">
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label class="text-muted" asp-for="Password" for="inputPassword"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit"  class="nav-Login btn btn-light btn-xs pull-right" >Login</button>

</form>
<div class="pull-right my-5">
<a class="nav-Login btn btn-light btn-xs pull-right" href="/account/register?returnUrl=@Model.ReturnUrl">Register</a>
<div>    